{% extends 'shop/base.html' %}
{% block head_title %}
{{ item.item_name }} - Shop
{% endblock %}
{% block main_area %}

        <!-- Product section-->

            <div class="container col-lg-9 px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        {% if user.is_authenticated and user == item.author %}
                        <a href="/shop/update_item/{{item.pk}}/"
                            class="btn btn-primary btn-sm">
                            <i class="fas fa-pen"></i>
                            Edit Item
                        </a>
                        {% endif %}
                        {% if item.head_image %}
                        <img class="img-fluid rounded" src="{{item.head_image.url}}" alt="{{item}}의 head image"/>
                        {% else %}
                        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{item.id}}/800/200" alt="random image"/>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">
                            {% if item.category %}
                            <span class="badge bg-info text-dark">{{item.category}}</span>
                            {% else %}
                            <span class="badge bg-info text-dark">미분류</span>
                            {% endif %}
                            <span class="badge bg-success text-white">{{item.author | upper}}이 등록</span>
                        </div>
                        <h1 class="display-5 fw-bolder">{{ item.item_name }}</h1>
                        <div class="small mb-1">{{ item.get_item_info_markdown | truncatewords_html:30 | safe }}</div>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">가격: {{ item.item_price}}원</span>
                        </div>
                        <div class="small mb-1">색상: {{item.item_color}}</div>
                        <p class="lead small">사이즈: {{item.item_size}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Comments section-->
                    <div class="mb-5" id="comment-area">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>

                                {% if item.comment_set.exists %}
                                {% for comment in item.comment_set.all %}
                                <!-- Single comment-->
                                <div class="d-flex" id="comment-{{comment.pk}}">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comment.author.username}} &nbsp;&nbsp;&nbsp;
                                            <small class="text-muted">{{comment.created_at}}</small></div>
                                        <p>{{comment.content | linebreaks }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
{% endblock %}